<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <meta charset="utf-8">
  <title>arena</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <div class="arena-background">
    <!--
    <img class='arena' src="images\arena.png" alt="arena-img">
  -->
<table>
  <tr>
    <td> {% if all_current_coordinates['1_1'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['1_1'][0] + '.png') }}" alt="{{ all_current_coordinates['1_1'][0] }}">
          {% else %}
      1_1
      {% endif %}
    </td>
    <td>
       {% if all_current_coordinates['1_2'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['1_2'][0] + '.png') }}" alt="{{ all_current_coordinates['1_2'][0] }}">
          {% else %}
      1_2
      {% endif %}
    </td>
    <td>
      {% if all_current_coordinates['1_3'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['1_3'][0] + '.png') }}" alt="{{ all_current_coordinates['1_3'][0] }}">
          {% else %}
      1_3
      {% endif %}
    </td>
    <td>
            {% if all_current_coordinates['1_4'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['1_4'][0] + '.png') }}" alt="{{ all_current_coordinates['1_4'][0] }}">
          {% else %}
      1_4
      {% endif %}
    </td>
    <td>
                 {% if all_current_coordinates['1_5'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['1_5'][0] + '.png') }}" alt="{{ all_current_coordinates['1_5'][0] }}">
          {% else %}
      1_5
      {% endif %}
    </td>
    <td>
      {% if all_current_coordinates['1_6'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['1_6'][0] + '.png') }}" alt="{{ all_current_coordinates['1_6'][0] }}">
          {% else %}
      1_6
      {% endif %}
    </td>
    <td>
            {% if all_current_coordinates['1_7'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['1_7'][0] + '.png') }}" alt="{{ all_current_coordinates['1_7'][0] }}">
          {% else %}
      1_7
      {% endif %}
    </td>
    <td>
      {% if all_current_coordinates['1_8'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['1_8'][0] + '.png') }}" alt="{{ all_current_coordinates['1_8'][0] }}">
          {% else %}
      1_8
      {% endif %}
    </td>
    <td>
      {% if all_current_coordinates['1_9'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['1_9'][0] + '.png') }}" alt="{{ all_current_coordinates['1_9'][0] }}">
          {% else %}
      1_9
      {% endif %}
    </td>
    <td>
            {% if all_current_coordinates['1_10'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['1_10'][0] + '.png') }}" alt="{{ all_current_coordinates['1_10'][0] }}">
          {% else %}
      1_10
      {% endif %}
    </td>
    <td>      {% if all_current_coordinates['1_11'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['1_11'][0] + '.png') }}" alt="{{ all_current_coordinates['1_11'][0] }}">
          {% else %}
      1_11
      {% endif %}</td>
    <td>      {% if all_current_coordinates['1_12'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['1_12'][0] + '.png') }}" alt="{{ all_current_coordinates['1_12'][0] }}">
          {% else %}
      1_12
      {% endif %}</td>
    <td>
            {% if all_current_coordinates['1_13'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['1_13'][0] + '.png') }}" alt="{{ all_current_coordinates['1_13'][0] }}">
          {% else %}
      1_13
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>      {% if all_current_coordinates['2_1'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['2_1'][0] + '.png') }}" alt="{{ all_current_coordinates['2_1'][0] }}">
          {% else %}
      2_1
      {% endif %}</td>
    <td>
      {% if all_current_coordinates['2_2'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['2_2'][0] + '.png') }}" alt="{{ all_current_coordinates['2_2'][0] }}">
          {% else %}
      2_2
      {% endif %}
    </td>
    <td>
      {% if all_current_coordinates['2_3'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['2_3'][0] + '.png') }}" alt="{{ all_current_coordinates['2_3'][0] }}">
          {% else %}
      2_3
      {% endif %}
    </td>
    <td>{% if all_current_coordinates['2_4'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['2_4'][0] + '.png') }}" alt="{{ all_current_coordinates['2_4'][0] }}">
          {% else %}
      2_4
      {% endif %}</td>
    <td>{% if all_current_coordinates['2_5'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['2_5'][0] + '.png') }}" alt="{{ all_current_coordinates['2_5'][0] }}">
          {% else %}
      2_5
      {% endif %}</td>
    <td>{% if all_current_coordinates['2_6'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['2_6'][0] + '.png') }}" alt="{{ all_current_coordinates['2_6'][0] }}">
          {% else %}
      2_6
      {% endif %}</td>
    <td>{% if all_current_coordinates['2_7'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['2_7'][0] + '.png') }}" alt="{{ all_current_coordinates['2_7'][0] }}">
          {% else %}
      2_7
      {% endif %}</td>
    <td>{% if all_current_coordinates['2_8'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['2_8'][0] + '.png') }}" alt="{{ all_current_coordinates['2_8'][0] }}">
          {% else %}
      2_8
      {% endif %}</td>
    <td>{% if all_current_coordinates['2_9'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['2_9'][0] + '.png') }}" alt="{{ all_current_coordinates['2_9'][0] }}">
          {% else %}
      2_9
      {% endif %}</td>
    <td>{% if all_current_coordinates['2_10'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['2_10'][0] + '.png') }}" alt="{{ all_current_coordinates['2_10'][0] }}">
          {% else %}
      2_10
      {% endif %}</td>
    <td>{% if all_current_coordinates['2_11'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['2_11'][0] + '.png') }}" alt="{{ all_current_coordinates['2_11'][0] }}">
          {% else %}
      2_11
      {% endif %}</td>
    <td>{% if all_current_coordinates['2_12'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['2_12'][0] + '.png') }}" alt="{{ all_current_coordinates['2_12'][0] }}">
          {% else %}
      2_12
      {% endif %}</td>
    <td>{% if all_current_coordinates['2_13'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['2_13'][0] + '.png') }}" alt="{{ all_current_coordinates['2_13'][0] }}">
          {% else %}
      2_13
      {% endif %}</td>
  </tr>
  <tr>
    <td>{% if all_current_coordinates['3_1'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['3_1'][0] + '.png') }}" alt="{{ all_current_coordinates['3_1'][0] }}">
          {% else %}
      3_1
      {% endif %}</td>
    <td>{% if all_current_coordinates['3_2'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['3_2'][0] + '.png') }}" alt="{{ all_current_coordinates['3_2'][0] }}">
          {% else %}
      3_2
      {% endif %}</td>
    <td>{% if all_current_coordinates['3_3'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['3_3'][0] + '.png') }}" alt="{{ all_current_coordinates['3_3'][0] }}">
          {% else %}
      3_3
      {% endif %}</td>
    <td>{% if all_current_coordinates['3_4'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['3_4'][0] + '.png') }}" alt="{{ all_current_coordinates['3_4'][0] }}">
          {% else %}
      3_4
      {% endif %}</td>
    <td>{% if all_current_coordinates['3_5'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['3_5'][0] + '.png') }}" alt="{{ all_current_coordinates['3_5'][0] }}">
          {% else %}
      3_5
      {% endif %}</td>
    <td>{% if all_current_coordinates['3_6'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['3_6'][0] + '.png') }}" alt="{{ all_current_coordinates['3_6'][0] }}">
          {% else %}
      3_6
      {% endif %}</td>
    <td>{% if all_current_coordinates['3_7'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['3_7'][0] + '.png') }}" alt="{{ all_current_coordinates['3_7'][0] }}">
          {% else %}
      3_7
      {% endif %}</td>
    <td>{% if all_current_coordinates['3_8'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['3_8'][0] + '.png') }}" alt="{{ all_current_coordinates['3_8'][0] }}">
          {% else %}
      3_8
      {% endif %}</td>
    <td>{% if all_current_coordinates['3_9'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['3_9'][0] + '.png') }}" alt="{{ all_current_coordinates['3_9'][0] }}">
          {% else %}
      3_9
      {% endif %}</td>
    <td>{% if all_current_coordinates['3_10'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['3_10'][0] + '.png') }}" alt="{{ all_current_coordinates['3_10'][0] }}">
          {% else %}
      3_10
      {% endif %}</td>
    <td>{% if all_current_coordinates['3_11'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['3_11'][0] + '.png') }}" alt="{{ all_current_coordinates['3_11'][0] }}">
          {% else %}
      3_11
      {% endif %}</td>
    <td>{% if all_current_coordinates['3_12'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['3_12'][0] + '.png') }}" alt="{{ all_current_coordinates['3_12'][0] }}">
          {% else %}
      3_12
      {% endif %}</td>
    <td>{% if all_current_coordinates['3_13'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['3_13'][0] + '.png') }}" alt="{{ all_current_coordinates['3_13'][0] }}">
          {% else %}
      3_13
      {% endif %}</td>
  </tr>
  <tr>
    <td>{% if all_current_coordinates['4_1'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['4_1'][0] + '.png') }}" alt="{{ all_current_coordinates['4_1'][0] }}">
          {% else %}
      4_1
      {% endif %}</td>
    <td>{% if all_current_coordinates['4_2'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['4_2'][0] + '.png') }}" alt="{{ all_current_coordinates['4_2'][0] }}">
          {% else %}
      4_2
      {% endif %}</td>
    <td>{% if all_current_coordinates['4_3'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['4_3'][0] + '.png') }}" alt="{{ all_current_coordinates['4_3'][0] }}">
          {% else %}
      4_3
      {% endif %}</td>
    <td>{% if all_current_coordinates['4_4'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['4_4'][0] + '.png') }}" alt="{{ all_current_coordinates['4_4'][0] }}">
          {% else %}
      4_4
      {% endif %}</td>
    <td>{% if all_current_coordinates['4_5'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['4_5'][0] + '.png') }}" alt="{{ all_current_coordinates['4_5'][0] }}">
          {% else %}
      4_5
      {% endif %}</td>
    <td>{% if all_current_coordinates['4_6'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['4_6'][0] + '.png') }}" alt="{{ all_current_coordinates['4_6'][0] }}">
          {% else %}
      4_6
      {% endif %}</td>
    <td>{% if all_current_coordinates['4_7'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['4_7'][0] + '.png') }}" alt="{{ all_current_coordinates['4_7'][0] }}">
          {% else %}
      4_7
      {% endif %}</td>
    <td>{% if all_current_coordinates['4_8'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['4_8'][0] + '.png') }}" alt="{{ all_current_coordinates['4_8'][0] }}">
          {% else %}
      4_8
      {% endif %}</td>
    <td>{% if all_current_coordinates['4_9'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['4_9'][0] + '.png') }}" alt="{{ all_current_coordinates['4_9'][0] }}">
          {% else %}
      4_9
      {% endif %}</td>
    <td>{% if all_current_coordinates['4_10'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['4_10'][0] + '.png') }}" alt="{{ all_current_coordinates['4_10'][0] }}">
          {% else %}
      4_10
      {% endif %}</td>
    <td>{% if all_current_coordinates['4_11'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['4_11'][0] + '.png') }}" alt="{{ all_current_coordinates['4_11'][0] }}">
          {% else %}
      4_11
      {% endif %}</td>
    <td>{% if all_current_coordinates['4_12'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['4_12'][0] + '.png') }}" alt="{{ all_current_coordinates['4_12'][0] }}">
          {% else %}
      4_12
      {% endif %}</td>
    <td>{% if all_current_coordinates['4_13'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['4_13'][0] + '.png') }}" alt="{{ all_current_coordinates['4_13'][0] }}">
          {% else %}
      4_13
      {% endif %}</td>
  </tr>
  <tr>
    <td>{% if all_current_coordinates['5_1'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['5_1'][0] + '.png') }}" alt="{{ all_current_coordinates['5_1'][0] }}">
          {% else %}
      5_1
      {% endif %}</td>
    <td>{% if all_current_coordinates['5_2'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['5_2'][0] + '.png') }}" alt="{{ all_current_coordinates['5_2'][0] }}">
          {% else %}
      5_2
      {% endif %}</td>
    <td>{% if all_current_coordinates['5_3'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['5_3'][0] + '.png') }}" alt="{{ all_current_coordinates['5_3'][0] }}">
          {% else %}
      5_3
      {% endif %}</td>
    <td>{% if all_current_coordinates['5_4'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['5_4'][0] + '.png') }}" alt="{{ all_current_coordinates['5_4'][0] }}">
          {% else %}
      5_4
      {% endif %}</td>
    <td>{% if all_current_coordinates['5_5'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['5_5'][0] + '.png') }}" alt="{{ all_current_coordinates['5_5'][0] }}">
          {% else %}
      5_5
      {% endif %}</td>
    <td>{% if all_current_coordinates['5_6'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['5_6'][0] + '.png') }}" alt="{{ all_current_coordinates['5_6'][0] }}">
          {% else %}
      5_6
      {% endif %}</td>
    <td>{% if all_current_coordinates['5_7'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['5_7'][0] + '.png') }}" alt="{{ all_current_coordinates['5_7'][0] }}">
          {% else %}
      5_7
      {% endif %}</td>
    <td>{% if all_current_coordinates['5_8'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['5_8'][0] + '.png') }}" alt="{{ all_current_coordinates['5_8'][0] }}">
          {% else %}
      5_8
      {% endif %}</td>
    <td>{% if all_current_coordinates['5_9'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['5_9'][0] + '.png') }}" alt="{{ all_current_coordinates['5_9'][0] }}">
          {% else %}
      5_9
      {% endif %}</td>
    <td>{% if all_current_coordinates['5_10'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['5_10'][0] + '.png') }}" alt="{{ all_current_coordinates['5_10'][0] }}">
          {% else %}
      5_10
      {% endif %}</td>
    <td>{% if all_current_coordinates['5_11'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['5_11'][0] + '.png') }}" alt="{{ all_current_coordinates['5_11'][0] }}">
          {% else %}
      5_11
      {% endif %}</td>
    <td>{% if all_current_coordinates['5_12'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['5_12'][0] + '.png') }}" alt="{{ all_current_coordinates['5_12'][0] }}">
          {% else %}
      5_12
      {% endif %}</td>
    <td>{% if all_current_coordinates['5_13'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['5_13'][0] + '.png') }}" alt="{{ all_current_coordinates['5_13'][0] }}">
          {% else %}
      5_13
      {% endif %}</td>
  </tr>
  <tr>
    <td>{% if all_current_coordinates['6_1'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['6_1'][0] + '.png') }}" alt="{{ all_current_coordinates['6_1'][0] }}">
          {% else %}
      6_1
      {% endif %}</td>
    <td>{% if all_current_coordinates['6_2'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['6_2'][0] + '.png') }}" alt="{{ all_current_coordinates['6_2'][0] }}">
          {% else %}
      6_2
      {% endif %}</td>
    <td>{% if all_current_coordinates['6_3'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['6_3'][0] + '.png') }}" alt="{{ all_current_coordinates['6_3'][0]  }}">
          {% else %}
      6_3
      {% endif %}</td>
    <td>{% if all_current_coordinates['6_4'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['6_4'][0] + '.png') }}" alt="{{ all_current_coordinates['6_4'][0] }}">
          {% else %}
      6_4
      {% endif %}</td>
    <td>{% if all_current_coordinates['6_5'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['6_5'][0] + '.png') }}" alt="{{ all_current_coordinates['6_5'][0] }}">
          {% else %}
      6_5
      {% endif %}</td>
    <td>{% if all_current_coordinates['6_6'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['6_6'][0] + '.png') }}" alt="{{ all_current_coordinates['6_6'][0] }}">
          {% else %}
      6_6
      {% endif %}</td>
    <td>{% if all_current_coordinates['6_7'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['6_7'][0] + '.png') }}" alt="{{ all_current_coordinates['6_7'][0] }}">
          {% else %}
      6_7
      {% endif %}</td>
    <td>{% if all_current_coordinates['6_8'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['6_8'][0] + '.png') }}" alt="{{ all_current_coordinates['6_8'][0] }}">
          {% else %}
      6_8
      {% endif %}</td>
    <td>{% if all_current_coordinates['6_9'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['6_9'][0] + '.png') }}" alt="{{ all_current_coordinates['6_9'][0] }}">
          {% else %}
      6_9
      {% endif %}</td>
    <td>{% if all_current_coordinates['6_10'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['6_10'][0] + '.png') }}" alt="{{ all_current_coordinates['6_10'][0] }}">
          {% else %}
      6_10
      {% endif %}</td>
    <td>{% if all_current_coordinates['6_11'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['6_11'][0] + '.png') }}" alt="{{ all_current_coordinates['6_11'][0] }}">
          {% else %}
      6_11
      {% endif %}</td>
    <td>{% if all_current_coordinates['6_12'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['6_12'][0] + '.png') }}" alt="{{ all_current_coordinates['6_12'][0] }}">
          {% else %}
      6_12
      {% endif %}</td>
    <td>{% if all_current_coordinates['6_13'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['6_13'][0] + '.png') }}" alt="{{ all_current_coordinates['6_13'][0] }}">
          {% else %}
      6_13
      {% endif %}</td>
  </tr>
  <tr>
    <td>{% if all_current_coordinates['7_1'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['7_1'][0] + '.png') }}" alt="{{ all_current_coordinates['7_1'][0] }}">
          {% else %}
      7_1
      {% endif %}</td>
    <td>{% if all_current_coordinates['7_2'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['7_2'][0] + '.png') }}" alt="{{ all_current_coordinates['7_2'][0] }}">
          {% else %}
      7_2
      {% endif %}</td>
    <td>{% if all_current_coordinates['7_3'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['7_3'][0] + '.png') }}" alt="{{ all_current_coordinates['7_3'][0] }}">
          {% else %}
      7_3
      {% endif %}</td>
    <td>{% if all_current_coordinates['7_4'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['7_4'][0] + '.png') }}" alt="{{ all_current_coordinates['7_4'][0] }}">
          {% else %}
      7_4
      {% endif %}</td>
    <td>{% if all_current_coordinates['7_5'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['7_5'][0] + '.png') }}" alt="{{ all_current_coordinates['7_5'][0] }}">
          {% else %}
      7_5
      {% endif %}</td>
    <td>{% if all_current_coordinates['7_6'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['7_6'][0] + '.png') }}" alt="{{ all_current_coordinates['7_6'][0] }}">
          {% else %}
      7_6
      {% endif %}</td>
    <td>{% if all_current_coordinates['7_7'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['7_7'][0] + '.png') }}" alt="{{ all_current_coordinates['7_7'][0] }}">
          {% else %}
      7_7
      {% endif %}</td>
    <td>{% if all_current_coordinates['7_8'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['7_8'][0] + '.png') }}" alt="{{ all_current_coordinates['7_8'][0] }}">
          {% else %}
      7_8
      {% endif %}</td>
    <td>{% if all_current_coordinates['7_9'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['7_9'][0] + '.png') }}" alt="{{ all_current_coordinates['7_9'][0] }}">
          {% else %}
      7_9
      {% endif %}</td>
    <td>{% if all_current_coordinates['7_10'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['7_10'][0] + '.png') }}" alt="{{ all_current_coordinates['7_10'][0] }}">
          {% else %}
      7_10
      {% endif %}</td>
    <td>{% if all_current_coordinates['7_11'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['7_11'][0] + '.png') }}" alt="{{ all_current_coordinates['7_11'][0] }}">
          {% else %}
      7_11
      {% endif %}</td>
    <td>{% if all_current_coordinates['7_12'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['7_12'][0] + '.png') }}" alt="{{ all_current_coordinates['7_12'][0] }}">
          {% else %}
      7_12
      {% endif %}</td>
    <td>{% if all_current_coordinates['7_13'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['7_13'][0] + '.png') }}" alt="{{ all_current_coordinates['7_13'][0] }}">
          {% else %}
      7_13
      {% endif %}</td>
  </tr>
  <tr>
    <td>{% if all_current_coordinates['8_1'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['8_1'][0] + '.png') }}" alt="{{ all_current_coordinates['8_1'][0] }}">
          {% else %}
      8_1
      {% endif %}</td>
    <td>{% if all_current_coordinates['8_2'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['8_2'][0] + '.png') }}" alt="{{ all_current_coordinates['8_2'][0] }}">
          {% else %}
      8_2
      {% endif %}</td>
    <td>{% if all_current_coordinates['8_3'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['8_3'][0] + '.png') }}" alt="{{ all_current_coordinates['8_3'][0] }}">
          {% else %}
      8_3
      {% endif %}</td>
    <td>{% if all_current_coordinates['8_4'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['8_4'][0] + '.png') }}" alt="{{ all_current_coordinates['8_4'][0] }}">
          {% else %}
      8_4
      {% endif %}</td>
    <td>{% if all_current_coordinates['8_5'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['8_5'][0] + '.png') }}" alt="{{ all_current_coordinates['8_5'][0] }}">
          {% else %}
      8_5
      {% endif %}</td>
    <td>{% if all_current_coordinates['8_6'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['8_6'][0] + '.png') }}" alt="{{ all_current_coordinates['8_6'][0] }}">
          {% else %}
      8_6
      {% endif %}</td>
    <td>{% if all_current_coordinates['8_7'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['8_7'][0] + '.png') }}" alt="{{ all_current_coordinates['8_7'][0] }}">
          {% else %}
      8_7
      {% endif %}</td>
    <td>{% if all_current_coordinates['8_8'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['8_8'][0] + '.png') }}" alt="{{ all_current_coordinates['8_8'][0] }}">
          {% else %}
      8_8
      {% endif %}</td>
    <td>{% if all_current_coordinates['8_9'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['8_9'][0] + '.png') }}" alt="{{ all_current_coordinates['8_9'][0] }}">
          {% else %}
      8_9
      {% endif %}</td>
    <td>{% if all_current_coordinates['8_10'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['8_10'][0] + '.png') }}" alt="{{ all_current_coordinates['8_10'][0] }}">
          {% else %}
      8_10
      {% endif %}</td>
    <td>{% if all_current_coordinates['8_11'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['8_11'][0] + '.png') }}" alt="{{ all_current_coordinates['8_11'][0] }}">
          {% else %}
      8_11
      {% endif %}</td>
    <td>{% if all_current_coordinates['8_12'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['8_12'][0] + '.png') }}" alt="{{ all_current_coordinates['8_12'][0] }}">
          {% else %}
      8_12
      {% endif %}</td>
    <td>{% if all_current_coordinates['8_13'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['8_13'][0] + '.png') }}" alt="{{ all_current_coordinates['8_13'][0] }}">
          {% else %}
      8_13
      {% endif %}</td>
  </tr>
  <tr>
    <td>{% if all_current_coordinates['9_1'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['9_1'][0] + '.png') }}" alt="{{ all_current_coordinates['9_1'][0] }}">
          {% else %}
      9_1
      {% endif %}</td>
    <td>{% if all_current_coordinates['9_2'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['9_2'] + '.png') }}" alt="{{ all_current_coordinates['9_2'] }}">
          {% else %}
      9_2
      {% endif %}</td>
    <td>{% if all_current_coordinates['9_3'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['9_3'][0] + '.png') }}" alt="{{ all_current_coordinates['9_3'][0] }}">
          {% else %}
      9_3
      {% endif %}</td>
    <td>{% if all_current_coordinates['9_4'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['9_4'][0] + '.png') }}" alt="{{ all_current_coordinates['9_4'][0] }}">
          {% else %}
      9_4
      {% endif %}</td>
    <td>{% if all_current_coordinates['9_5'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['9_5'][0] + '.png') }}" alt="{{ all_current_coordinates['9_5'][0] }}">
          {% else %}
      9_5
      {% endif %}</td>
    <td>{% if all_current_coordinates['9_6'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['9_6'][0] + '.png') }}" alt="{{ all_current_coordinates['9_6'][0] }}">
          {% else %}
      9_6
      {% endif %}</td>
    <td>{% if all_current_coordinates['9_7'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['9_7'][0] + '.png') }}" alt="{{ all_current_coordinates['9_7'][0] }}">
          {% else %}
      9_7
      {% endif %}</td>
    <td>{% if all_current_coordinates['9_8'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['9_8'][0] + '.png') }}" alt="{{ all_current_coordinates['9_8'][0] }}">
          {% else %}
      9_8
      {% endif %}</td>
    <td>{% if all_current_coordinates['9_9'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['9_9'][0] + '.png') }}" alt="{{ all_current_coordinates['9_9'][0] }}">
          {% else %}
      9_9
      {% endif %}</td>
    <td>{% if all_current_coordinates['9_10'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['9_10'][0] + '.png') }}" alt="{{ all_current_coordinates['9_10'][0] }}">
          {% else %}
      9_10
      {% endif %}</td>
    <td>{% if all_current_coordinates['9_11'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['9_11'][0] + '.png') }}" alt="{{ all_current_coordinates['9_11'][0] }}">
          {% else %}
      9_11
      {% endif %}</td>
    <td>{% if all_current_coordinates['9_12'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['9_12'][0] + '.png') }}" alt="{{ all_current_coordinates['9_12'][0] }}">
          {% else %}
      9_12
      {% endif %}</td>
    <td>{% if all_current_coordinates['9_13'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['9_13'][0] + '.png') }}" alt="{{ all_current_coordinates['9_13'][0] }}">
          {% else %}
      9_13
      {% endif %}</td>
  </tr>
  <tr>
    <td>{% if all_current_coordinates['10_1'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['10_1'][0] + '.png') }}" alt="{{ all_current_coordinates['10_1'][0] }}">
          {% else %}
      10_1
      {% endif %}</td>
    <td>{% if all_current_coordinates['10_2'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['10_2'][0] + '.png') }}" alt="{{ all_current_coordinates['10_2'][0] }}">
          {% else %}
      10_2
      {% endif %}</td>
    <td>{% if all_current_coordinates['10_3'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['10_3'][0] + '.png') }}" alt="{{ all_current_coordinates['10_3'][0] }}">
          {% else %}
      10_3
      {% endif %}</td>
    <td>{% if all_current_coordinates['10_4'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['10_4'][0] + '.png') }}" alt="{{ all_current_coordinates['10_4'][0] }}">
          {% else %}
      10_4
      {% endif %}</td>
    <td>{% if all_current_coordinates['10_5'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['10_5'][0] + '.png') }}" alt="{{ all_current_coordinates['10_5'][0] }}">
          {% else %}
      10_5
      {% endif %}</td>
    <td>{% if all_current_coordinates['10_6'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['10_6'][0] + '.png') }}" alt="{{ all_current_coordinates['10_6'][0] }}">
          {% else %}
      10_6
      {% endif %}</td>
    <td>{% if all_current_coordinates['10_7'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['10_7'][0] + '.png') }}" alt="{{ all_current_coordinates['10_7'][0] }}">
          {% else %}
      10_7
      {% endif %}</td>
    <td>{% if all_current_coordinates['10_8'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['10_8'][0] + '.png') }}" alt="{{ all_current_coordinates['10_8'][0] }}">
          {% else %}
      10_8
      {% endif %}</td>
    <td>{% if all_current_coordinates['10_9'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['10_9'][0] + '.png') }}" alt="{{ all_current_coordinates['10_9'][0] }}">
          {% else %}
      10_9
      {% endif %}</td>
    <td>{% if all_current_coordinates['10_10'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['10_10'][0] + '.png') }}" alt="{{ all_current_coordinates['10_10'][0] }}">
          {% else %}
      10_10
      {% endif %}</td>
    <td>{% if all_current_coordinates['10_11'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['10_11'][0] + '.png') }}" alt="{{ all_current_coordinates['10_11'][0] }}">
          {% else %}
      10_11
      {% endif %}</td>
    <td>{% if all_current_coordinates['10_12'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['10_12'][0] + '.png') }}" alt="{{ all_current_coordinates['10_12'][0] }}">
          {% else %}
      10_12
      {% endif %}</td>
    <td>{% if all_current_coordinates['10_13'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['10_13'][0] + '.png') }}" alt="{{ all_current_coordinates['10_13'][0] }}">
          {% else %}
      10_13
      {% endif %}</td>
  </tr>
  <tr>
    <td>{% if all_current_coordinates['11_1'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['11_1'][0] + '.png') }}" alt="{{ all_current_coordinates['11_1'][0] }}">
          {% else %}
      11_1
      {% endif %}</td>
    <td>{% if all_current_coordinates['11_2'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['11_2'][0] + '.png') }}" alt="{{ all_current_coordinates['11_2'][0] }}">
          {% else %}
      11_2
      {% endif %}</td>
    <td>{% if all_current_coordinates['11_3'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['11_3'][0] + '.png') }}" alt="{{ all_current_coordinates['11_3'][0] }}">
          {% else %}
      11_3
      {% endif %}</td>
    <td>{% if all_current_coordinates['11_4'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['11_4'][0] + '.png') }}" alt="{{ all_current_coordinates['11_4'][0] }}">
          {% else %}
      11_4
      {% endif %}</td>
    <td>{% if all_current_coordinates['11_5'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['11_5'][0] + '.png') }}" alt="{{ all_current_coordinates['11_5'][0] }}">
          {% else %}
      11_5
      {% endif %}</td>
    <td>{% if all_current_coordinates['11_6'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['11_6'][0] + '.png') }}" alt="{{ all_current_coordinates['11_6'][0] }}">
          {% else %}
      11_6
      {% endif %}</td>
    <td>{% if all_current_coordinates['11_7'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['11_7'][0] + '.png') }}" alt="{{ all_current_coordinates['11_7'][0] }}">
          {% else %}
      11_7
      {% endif %}</td>
    <td>{% if all_current_coordinates['11_8'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['11_8'][0] + '.png') }}" alt="{{ all_current_coordinates['11_8'][0] }}">
          {% else %}
      11_8
      {% endif %}</td>
    <td>{% if all_current_coordinates['11_9'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['11_9'][0] + '.png') }}" alt="{{ all_current_coordinates['11_9'][0] }}">
          {% else %}
      11_9
      {% endif %}</td>
    <td>{% if all_current_coordinates['11_10'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['11_10'][0] + '.png') }}" alt="{{ all_current_coordinates['11_10'][0] }}">
          {% else %}
      11_10
      {% endif %}</td>
    <td>{% if all_current_coordinates['11_11'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['11_11'][0] + '.png') }}" alt="{{ all_current_coordinates['11_11'][0] }}">
          {% else %}
      11_11
      {% endif %}</td>
    <td>{% if all_current_coordinates['11_12'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['11_12'][0] + '.png') }}" alt="{{ all_current_coordinates['11_12'][0] }}">
          {% else %}
      11_12
      {% endif %}</td>
    <td>{% if all_current_coordinates['11_13'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['11_13'][0] + '.png') }}" alt="{{ all_current_coordinates['11_13'][0] }}">
          {% else %}
      11_13
      {% endif %}</td>
  </tr>
  <tr>
    <td>{% if all_current_coordinates['12_1'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['12_1'][0] + '.png') }}" alt="{{ all_current_coordinates['12_1'][0] }}">
          {% else %}
      12_1
      {% endif %}</td>
    <td>{% if all_current_coordinates['12_2'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['12_2'][0] + '.png') }}" alt="{{ all_current_coordinates['12_2'][0] }}">
          {% else %}
      12_2
      {% endif %}</td>
    <td>{% if all_current_coordinates['12_3'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['12_3'][0] + '.png') }}" alt="{{ all_current_coordinates['12_3'][0] }}">
          {% else %}
      12_3
      {% endif %}</td>
    <td>{% if all_current_coordinates['12_4'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['12_4'][0] + '.png') }}" alt="{{ all_current_coordinates['12_4'][0] }}">
          {% else %}
      12_4
      {% endif %}</td>
    <td>{% if all_current_coordinates['12_5'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['12_5'][0] + '.png') }}" alt="{{ all_current_coordinates['12_5'][0] }}">
          {% else %}
      12_5
      {% endif %}</td>
    <td>{% if all_current_coordinates['12_6'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['12_6'][0] + '.png') }}" alt="{{ all_current_coordinates['12_6'][0] }}">
          {% else %}
      12_6
      {% endif %}</td>
    <td>{% if all_current_coordinates['12_7'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['12_7'][0] + '.png') }}" alt="{{ all_current_coordinates['12_7'][0] }}">
          {% else %}
      12_7
      {% endif %}</td>
    <td>{% if all_current_coordinates['12_8'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['12_8'][0] + '.png') }}" alt="{{ all_current_coordinates['12_8'][0] }}">
          {% else %}
      12_8
      {% endif %}</td>
    <td>{% if all_current_coordinates['12_9'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['12_9'][0] + '.png') }}" alt="{{ all_current_coordinates['12_9'][0] }}">
          {% else %}
      12_9
      {% endif %}</td>
    <td>{% if all_current_coordinates['12_10'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['12_10'][0] + '.png') }}" alt="{{ all_current_coordinates['12_10'][0] }}">
          {% else %}
      12_10
      {% endif %}</td>
    <td>{% if all_current_coordinates['12_11'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['12_11'][0] + '.png') }}" alt="{{ all_current_coordinates['12_11'][0] }}">
          {% else %}
      12_11
      {% endif %}</td>
    <td>{% if all_current_coordinates['12_12'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['12_12'][0] + '.png') }}" alt="{{ all_current_coordinates['12_12'][0] }}">
          {% else %}
      12_12
      {% endif %}</td>
    <td>{% if all_current_coordinates['12_13'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['12_13'][0] + '.png') }}" alt="{{ all_current_coordinates['12_13'][0] }}">
          {% else %}
      12_13
      {% endif %}</td>
  </tr>
  <tr>
    <td>{% if all_current_coordinates['13_1'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['13_1'][0] + '.png') }}" alt="{{ all_current_coordinates['13_1'][0] }}">
          {% else %}
      13_1
      {% endif %}</td>
    <td>{% if all_current_coordinates['13_2'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['13_2'][0] + '.png') }}" alt="{{ all_current_coordinates['13_2'][0] }}">
          {% else %}
      13_2
      {% endif %}</td>
    <td>{% if all_current_coordinates['13_3'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['13_3'][0] + '.png') }}" alt="{{ all_current_coordinates['13_3'][0] }}">
          {% else %}
      13_3
      {% endif %}</td>
    <td>
      {% if all_current_coordinates['13_4'] %}
      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['13_4'][0] + '.png') }}" alt="{{ all_current_coordinates['13_4'][0] }}">
          {% else %}
      13_4
      {% endif %}</td>
    <td>
      {% if all_current_coordinates['13_5'] %}
      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['13_5'][0] + '.png') }}" alt="{{ all_current_coordinates['13_5'][0] }}">
          {% else %}
      13_5
      {% endif %}</td>
    <td>{% if all_current_coordinates['13_6'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['13_6'][0] + '.png') }}" alt="{{ all_current_coordinates['13_6'][0] }}">
          {% else %}
      13_6
      {% endif %}</td>
    <td>{% if all_current_coordinates['13_7'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['13_7'][0] + '.png') }}" alt="{{ all_current_coordinates['13_7'][0] }}">
          {% else %}
      13_7
      {% endif %}</td>
    <td>{% if all_current_coordinates['13_8'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['13_8'][0] + '.png') }}" alt="{{ all_current_coordinates['13_8'][0] }}">
          {% else %}
      13_8
      {% endif %}</td>
    <td>{% if all_current_coordinates['13_9'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['13_9'][0] + '.png') }}" alt="{{ all_current_coordinates['13_9'][0] }}">
          {% else %}
      13_9
      {% endif %}</td>
    <td>{% if all_current_coordinates['13_10'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['13_10'][0] + '.png') }}" alt="{{ all_current_coordinates['13_10'][0] }}">
          {% else %}
      13_10
      {% endif %}</td>
    <td>{% if all_current_coordinates['13_11'] %}

      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['13_11'][0] + '.png') }}" alt="{{ all_current_coordinates['13_11'][0] }}">
          {% else %}
      13_11
      {% endif %}</td>
    <td>
      {% if all_current_coordinates['13_12'] %}
      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['13_12'][0] + '.png') }}" alt="{{ all_current_coordinates['13_12'][0] }}">
          {% else %}
      13_12
      {% endif %}</td>
    <td>
      {% if all_current_coordinates['13_13'] %}
      <img class="unit" src="{{ url_for('static', filename='images/' + all_current_coordinates['13_13'][0] + '.png') }}" alt="{{ all_current_coordinates['13_13'][0] }}">
          {% else %}
      13_13
      {% endif %}</td>
  </tr>
</table>
  </div>
  <div class="upper_div">
    <h1 style="color:red">ACTIVE TURN: {{ pl_active_turn[0] }}</h1>
    <h1>Unit stats:</h1>
    <form method="post">
      {% for n in unique_players %}
      <a href="/stats/{{ n }}">{{ 'Посмотреть на '+n }}</a>
      {% endfor %}
    </form>
  <br>
    <h3>{{ log_comment }}</h3>
  </div>
  <div class="lower_div">
    <h1>Action Window:</h1>
<form method="post">
  {% if turn_phase[0] == 'move_phase' %}
    <div>
        <label for="fighter_name">Choose your fighter:</label>
        <select id="fighter_name" name="fighter_name">
          {% for n in all_units_list if n.player == pl_active_turn[0] %}
            <option value="{{ n.unit_id }}">{{ n.unit_id }}</option>
          {% endfor %}
        </select>
    </div>
    <div>
        <label>Coordinates</label>
        <input type="text" name="coordinates" />
    </div>
  {% endif %}
  {% if turn_phase[0] == 'attack_phase' %}
   <select id="attack_direction" name="attack_direction">
          {% for n in possible_attack_points %}
            <option value="{{ n }}">{{ n }}</option>
          {% endfor %}
            <option value="No_attack">No_attack</option>
        </select>
<!--    <div>
      <label for="attack_direction">Attack direction:</label>
        <select id="attack_direction" name="attack_direction">
            <option value="UP">&#8593;</option>
            <option value="RIGHT">&#8594;</option>
            <option value="DOWN">&#8595;</option>
            <option value="LEFT">&#8592;</option>
            <option value="NO">No attack</option>
        </select>
    </div>
    -->
  {% endif %}
    <div>
        <input type="submit" />
    </div>
  </form>
  </div>

<!-- <div class="graveyard">
  <img class='unit' src="images/Tima1.png" alt="">
</div> -->
</body>

</html>
