<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item creation</title>
</head>
<body>
    <form method="post">
    <div style="border: solid 1px">

            <h2>Создать оружие:</h2>
            <label>Weapon Name= TimaFist1</label>
            <input type="text" name="weapon_name" />
            <br>
            <label>Damage mod = 5,55</label>
            <input type="text" name="damage_mod" />
            <br>
            <label>Weapon HP= 20</label>
            <input type="text" name="w_hp" />
            <br>
            <label>Weapon accuracy= 3</label>
            <input type="text" name="w_accuracy" />
            <br>
            <label>Weapon weight = 0,5</label>
            <input type="text" name="w_weight" />
            <br>
            <label>Weapon ignore arm = 0</label>
            <input type="text" name="ignore_arm" />
            <br>
            <label>Weapon range= 1</label>
            <input type="text" name="w_range" />
            <br>
            <label>Damage type= blunt, pierce, slash</label>
            <input type="text" name="damage_type" />
            <br>
            <!-- weapon_name, damage_mod, w_hp, w_accuracy, w_weight, ignore_arm, w_range, damage_type   -->
    </div>

    <div style="border: solid 1px">
            <h2>Создать броню:</h2>
            <label>Armour Name= Hev1</label>
            <input type="text" name="armour_name" />
            <br>
            <label>Armor Mod= 3,75</label>
            <input type="text" name="arm_mod" />
            <br>
            <label>Armor HP= 25</label>
            <input type="text" name="arm_hp" />
            <br>
            <label>Weight = 1,25</label>
            <input type="text" name="arm_weight" />
            <br>
            <label>Armour element type= slash, wind etc.</label>
            <input type="text" name="element_type" />
            <br>

            <!-- arm_name, arm_mod, arm_hp, arm_weight, element_type   -->

    </div>
    <input type="submit"/>
    </form>
</body>
</html>